
.cats {
    display: flex;
    flex-wrap: wrap;
}

.cats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    width: 200px;
    min-width: 200px;
    border: 1px solid #aaa;
    background-color: white;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px;
}

.cats li h2 {
    font-size: 1.5em;
}

.cats li .cat-type {
    font-size: .8em;
    color: #555;
}

.cats li .year {
    font-size: .8em;
}

.image-container {
    height: 50%;
}

.image-container img {
    height: 100%;
    object-fit: contain;
}