html {height: 100%;}
body {
    font: 400 100%/1.4 Helvetica, Arial, sans-serif;
    color: #222;
    min-height: 100%;
}

.main-head   {grid-area: header; background: lightpink;}
.content     {grid-area: content; background: lightblue;}
.main-footer {grid-area: footer; background: lightpink;}
.wrapper {
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
      "header"
      "content"
      "footer";
    grid-template-rows: auto 1fr auto;
}
.wrapper > * {padding: 10px;}

/* https://rachelandrew.co.uk/archives/2016/04/12/flexible-sized-grids-with-auto-fill-and-minmax/ */
.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
.listing li {
    background: lightgoldenrodyellow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.listing h2 {
    background: lightseagreen;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.body {padding: 10px;}
.body p {margin-bottom: 1rem;}
.cta {
    /* https://hackernoon.com/flexbox-s-best-kept-secret-bd3d892826b6 */
    margin-top: auto;
    border-top: 2px solid lightseagreen;
    padding: 10px;
    text-align: center;
}