
.movie-item {
    height: 200px;
    border: 1px solid #aaa;
    background-color: whitesmoke;
    padding: 10px;
    display: grid;
    grid-template-rows: 25% 67% 8%;
    text-align: center;
    color: #555;
}

.movie-item a {
    text-decoration: none;
    color: #555;
}

.movie-item h2 {
    font-size: 1em;
    font-weight: bold;
    height: 2.4em;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.movie-item img {
    height: 100%;
    margin: auto;
}

.movie-item time {
    font-size: .8em;
}